:root {
  /* COLORS */
  --main_color: #10101a;
  --second_color: #10101f;
  --main_font_color: white;

  /* TEXT GLOW */
  --text_glow: 0px 0px 5px white, 0px 0px 10px yellow;

  /* BOX GLOW */
  --box_shadow: 0px 0px 4px white, 0px 0px 10px yellow;
  --box_shadow_top: 0px -2px 2px white, 0px -5px 4px yellow;
  --box_shadow_bottom: 0px 2px 2px white, 0px 5px 4px yellow;
  --box_shadow_right: 2px 0px 2px white, 5px 0px 4px yellow;
  --box_shadow_left: -2px 0px 2px white, -5px 0px 4px yellow;
}

@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

html {
  background: var(--main_color);
  height: 2000px;
}

* {
  color: var(--main_font_color);
  font-family: 'Cairo', sans-serif;
}

.content{
    width: 95vw;
    margin: auto;
}
